<div class="workspace">
  <div class="canvas-wrapper">
    <img class="workspace-image" ng-hide="working" ng-src={{imageSrc}} draggable="false">
    <canvas ng-show="working"></canvas>
    <div ng-repeat="resizer in resizers track by $index" resizer="resizer"
      workspace-id="$index"></div>
  </div>
  <button class="btn" ng-hide="working" ng-click="startWork()">START</button>
  <button class="btn" ng-show="working" ng-click="finishWork()"
    ng-disabled="!resizers.length">DONE</button>
  <div ng-if="done" class="workspace-gallery">
    <img ng-repeat="resizer in inactives" ng-src="{{dataSrc(resizer)}}">
  </div>
</div>
